
.container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-image: url("../public/sunny.jpg");
  background-size: cover;
}

.cardList {
  display: flex;
  flex-direction: column;
  margin: 30px;
}